@import url("style_main.css");
#wrapper {
    width: auto;
    overflow: hidden;
}

#tekst {
    width: 100%;
    float: left;
    padding: 20px;
    overflow: auto;
}

#pildid {
    padding: 20px;
    overflow: hidden;
    position: relative;
}

iframe {
    display: block;
    margin-right: auto;
    margin-top: auto;
    padding: 20px;
    border: 0;
    max-width: 100%;
    max-height: auto;
    width: auto;
    height: auto;
}

img {
    display: block;
    max-width: 230px;
    max-height: 95px;
    width: auto;
    height: auto;
}