@font-face {
    font-family: Qwerty Ability;
    src: url("Qwerty_Ability.otf");
}

body {
    background-image: url("../Kasutatud failid/pildid/taust.jpeg");
    padding-left: 10px;
}

h1 {
    width: 75%;
    top: 0;
    font-family: cursive;
    color: red;
    font-size: 120px;
    margin: 0px;
}

.main-div {
    display: flex;
}

.button-div {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 150%;
    background-color: lightgreen;
}

.button-link {
    color: red;
    font-family: 'Lucida Sans';
    padding-right: 30px;
    text-decoration: none;
    text-align: right;
}

.second-column-div {
    padding-top: 135px;
    padding-left: 40px;
}

.contact-info-div {
    width: 25%;
    font-size: 30px;
    padding-top: 300px;
    text-align: center;
}

#map {
    height: 250px;
    width: 500px;
}

.image-holder {
    width: 2400px;
    background-color: red;
    height: 400px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.raamat-image {
    width: 144px;
    height: 200px;
    float: left;
    padding-top: 30px;
}

.button-holder {
    position: relative;
    top: -20px;
}
