@import url("style_main.css");
.wrapper {
    width: auto;
    overflow: hidden;
}

.tekst {
    width: 65%;
    float: left;
    padding: 20px;
    overflow: auto;
}

.pildid {
    width: auto;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

img {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}