@import url("style_main.css");
#wrapper {
    width: auto;
    overflow: hidden;
}

#tekst {
    width: 65%;
    float: left;
    padding: 20px;
}

#pildid {
    width: auto;
    padding: 20px;
    overflow: hidden;
}