@import url("style_main.css");
#wrapper {
    width: auto;
    overflow: hidden;
}

#tekst {
    width: 100%;
    float: left;
    padding: 20px;
    overflow: auto;
}

#pildid {
    padding: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: right;
    float: right;
}

iframe {
    display: block;
    margin-right: auto;
    margin-top: auto;
    padding: 20px;
    border: 0;
    max-width: 20%;
    max-height: 100%;
    width: 20%;
    height: 100%;
}

img {
    display: block;
    max-width: 690px;
    max-height: 285px;
    width: auto;
    height: auto;
}
